body {
    text-align: center;
}

.italico {
    font-style: italic;
}

.negrito {
    font-weight: bold;
}

td {
    text-align: left;
}

.alin-esq{
    text-align: left;
}

table {
    width: 400px;
    margin: 0 auto;
}