.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width var(--transition-speed) ease;
}

/* Firefox Scrollbar */

.scrollbar {
    overflow-x: scroll;
    overflow-y: auto;
    scrollbar-color: var(--accent-color) var(--bg-primary);
    scrollbar-width: thin;
}

/* Chromium and Safari Scrollbar INÍCIO */

.navbar::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}

.navbar::-webkit-scrollbar-track {
    background: var(--bg-primary);
}

.navbar::-webkit-scrollbar-thumb {
    background: var(--accent-color);
}

.navbar::-webkit-scrollbar-corner {
    background-color: var(--bg-primary);
}

/* Chromium and Safari Scroll FIM */

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    opacity: 0.7;
    filter: grayscale(100%);
    transition: var(--transition-speed);
}

.nav-link:hover {
    opacity: 1;
    filter: grayscale(0%);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-color {
    color: var(--accent-color);
    transition: var(--transition-speed);
}

/* Computadores (telas grandes) */

@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }
    .navbar:hover {
        width: 16rem;
    }
    .navbar:hover .link-text {
        display: inline;
    }
    .nav-item:last-child {
        margin-top: auto;
    }
}

/* Mobile (telas pequenas) */

@media only screen and (max-width: 600px) {
    main {
        margin: 0;
    }
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }
    .scrollbar {
        overflow-y: hidden;
    }
    .navbar-nav {
        flex-direction: row;
    }
    .nav-link {
        justify-content: center;
    }
}
