body {
    text-align: center;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

td {
    text-align: left;
}

table {
    width: 50%;
    margin: 0 auto;
}

.periodos {
    background-color: cornsilk;
    text-align: center;
    font-style: italic;
}

#nomedocurso {
    color: green;
    font-weight: bold;
}
