/* # Preparações iniciais */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	--poke-yellow: #feca1b;
	--poke-blue: #3761a8;
	--poke-red: #c52018;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-image: url("https://www.publicdomainpictures.net/pictures/70000/velka/natural-green-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
}

.hidden {
	display: none;
}

.separator {
	margin: 1rem 0;
}

.spacing {
	display: flex;
	justify-content: space-between;
}

/* ## Header - Page Title */
header {
	margin: 0 auto;
	margin-top: 2rem;
	font-weight: 600;
	font-size: 1.5rem;
}

/* ## Game Area */
.container {
	margin: 2rem auto;
}

.board {
	display: grid;
	margin: 1rem;
	border: 1px solid rgba(211, 211, 211, 0.7);
	background: rgba(255, 255, 255, 0.5);
	user-select: none;
	float: left;
}

.cell {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	border: 1px solid rgba(211, 211, 211, 0.7);
	cursor: pointer;
}

.hdImg {
	width: 80%;
}

.sdImg {
	width: 100%;
}

.selected {
	background-color: rgba(32, 127, 23, 0.7);
}

.draw {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 300px;
	float: right;
	margin: 1rem;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 0.5rem;
}

.loading {
	background-image: url("https://pokeres.bastionbot.org/pokeball.gif");
	filter: invert(100%);
	opacity: 0.6;
	background-position: center center;
	background-size: cover;
}

/* ## Menu Area */
#optScreen {
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.7);
}

.optContainer {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.optArea {
	background: rgba(255, 255, 255, 0.7);
	border-radius: 0.2rem;
	padding: 1rem;
	cursor: default;
	user-select: none;
}

.optHead {
	text-align: center;
	font-weight: 600;
	font-size: 1.5rem;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid black;
}

.buttons {
	border-top: 1px solid rgba(0, 0, 0, 0.7);
}

button {
	text-decoration: none;
	text-align: center;
	border: none;
	width: 4rem;
	height: 2rem;
	font-size: 0.9rem;
	transition: 0.3s;
	cursor: pointer;
	margin-top: 1rem;
	border-radius: 0.2rem;
	color: black;
	border: 2px solid var(--poke-blue);
}

button:hover {
	background-color: var(--poke-blue);
	color: white;
}

#imgBtn {
	font-size: 0.8rem;
	margin: 0;
	height: auto;
}

#confetti {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}
