/* # Preparações iniciais */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	--poke-yellow: #feca1b;
	--poke-blue: #3761a8;
	--poke-red: #c52018;
	--tab-transition: 0.4s;
	--content-transition: 1.5s;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 5% auto;
	width: 45rem;
	height: 22rem;
	position: relative;
	cursor: default;
}

#leftTab,
#rightTab,
.gameBoy {
	grid-row: 1;
	background-color: var(--poke-yellow);
	border: 0.5rem solid var(--poke-blue);
}

/* ## Abas */
.leftSmall {
	width: 2rem;
	height: 5rem;
	left: 13rem;
}

.rightSmall {
	width: 2rem;
	height: 5rem;
	right: 13rem;
}

.leftSmall:hover,
.leftBig {
	padding: 1rem;
	width: 12rem;
	height: 19rem;
	left: 3rem;
}

.rightSmall:hover,
.rightBig {
	padding: 1rem;
	width: 12rem;
	height: 19rem;
	right: 3rem;
}

#leftTitle,
#rightTitle {
	display: block;
	text-align: center;
	font-weight: 600;
	animation: var(--content-transition) TitleFadeIn;
}

.leftTitle {
	transform: rotate(-90deg);
	margin: 1.5rem 0;
}

#leftTab:hover .leftTitle,
#rightTab:hover .rightTitle {
	margin: 0;
	animation: var(--content-transition) HoverFadeIn;
	transform: rotate(0deg);
}

.rightTitle {
	transform: rotate(90deg);
	margin: 1.2rem 0;
}

#rightContent,
#leftContent {
	margin-top: 1rem;
	text-align: justify;
	animation: var(--content-transition) ContentFadeIn;
}

.leftContent,
.rightContent {
	display: none;
}

.displayBlock,
#leftTab:hover .leftContent,
#rightTab:hover .rightContent,
#leftTab:hover i,
#rightTab:hover i {
	display: block;
}

#leftTab i,
#rightTab i {
	z-index: 1;
	cursor: pointer;
	color: var(--poke-blue);
	position: absolute;
	display: none;
	animation: var(--content-transition) PinFadeIn;
}

#rightTab i {
	right: 1rem;
}

/* DESATIVADO */
#leftTab {
	/* Remova o display pra reativar a aba */
	display: none;

	grid-column: 1;
	border-right: unset;
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
	position: absolute;
	top: 1.5rem;
	transition: var(--tab-transition);
}

#rightTab {
	grid-column: 3;
	border-left: unset;
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
	position: absolute;
	top: 1.5rem;
	transition: var(--tab-transition);
}

/* ## GameBoy - Conteúdo Central */
.gameBoy {
	grid-column: 2;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 2fr 1fr;
	width: 15rem;
	height: 22rem;
	border-radius: 1rem;
}

/* ### Imagem */
.sprite {
	grid-row: 1;
	grid-column: 1 / span 2;
	background-color: white;
	margin: 1rem;
	border-radius: 1rem;
	border: 0.5rem solid var(--poke-blue);
	overflow: hidden;
	height: 8.4rem;
	text-align: center;
}

#pokeSprite {
	width: 96px;
	height: 96px;
	transition: transform 0.5s ease;
}

img:hover {
	transform: scale(2);
}

#spriteName {
	font-size: 0.8rem;
	text-align: left;
	padding: 0.1rem 0.5rem;
}

/* ### Navegação - Setas */
.buttons {
	grid-row: 2;
	grid-column: 1;
	padding-top: 0.5rem;
	position: relative;
	color: #3761a8;
}

.buttons i:active,
.btnActive {
	color: var(--poke-red);
}

#prevPoke {
	position: absolute;
	cursor: pointer;
	top: 2.5rem;
	left: 1rem;
}

#nextSprite {
	position: absolute;
	cursor: pointer;
	top: 0.8rem;
	left: 2.5rem;
}

#nextPoke {
	position: absolute;
	cursor: pointer;
	top: 2.5rem;
	left: 4.5rem;
}

#prevSprite {
	position: absolute;
	cursor: pointer;
	top: 4.2rem;
	left: 2.5rem;
}

/* ### Nome/ID/Tipo - Texto Princial */
.info {
	grid-row: 2;
	grid-column: 2;
	padding-right: 1rem;
	text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#pokeName {
	font-weight: 600;
}

#pokeType {
	font-style: italic;
}

/* ### Pesquisa */
.input {
	margin: 1rem;
	margin-bottom: 0;
	grid-row: 3;
	grid-column: 1 / span 2;
	position: relative;
	text-align: center;
}

#pokeInput,
#pokeBtn {
	padding: 0 5px;
	width: 3.5rem;
	height: 1.2rem;
	background-color: var(--poke-blue);
	color: white;
	border: none;
	border-radius: 0.5rem;
	text-align: center;
	bottom: 1rem;
	outline: 0;
}

#pokeInput::placeholder {
	color: #abc;
}

#pokeBtn:hover {
	cursor: pointer;
}

#pokeBtn:active {
	color: #abc;
}

#pokeWrong {
	display: none;
	color: #cc0033;
	font-size: 0.8rem;
	margin-top: 0.1rem;
}

/*
	# @Keyframes utilizados, são todos iguais por que
	as animações [as vezes] falhavam quando eram usados
	por mais de um elemento...
*/
@keyframes TitleFadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes HoverFadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes ContentFadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes PinFadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
