* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

.container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    justify-content: center;
}

.titulo {
    font-size: 25px;
    padding: 5px 0;
}

/* Formulário */

form {
    border-top: 1px solid lightgray;
    width: 400px;
    font-size: 14px;
    padding-top: 11px;
}

/* Tudo dentro do Formulário */

form * {
    border-radius: 5px;
}

/* Todos os SPANs dentro do Formulário */

form span {
    display: inline-block;
    font-weight: bold;
    width: 23%;
    height: 40px;
    margin: 0;
    text-align: right;
    padding-right: 10px;
}

/* Todos os INPUTs dentro do Formulário */

form input {
    border: 1px solid darkgray;
    height: 40px;
    padding: 13px;
}

/* Caixas maiores */

.big-input {
    width: 75%;
}

/* Caixas menores */

.small-input {
    width: 25%;
}

/* Removendo os botoes do Input NUMBER: Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Removendo os botoes do Input NUMBER: Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

p {
    align-self: center;
}

/* Todos os placeholders dentro de P */

p>*::placeholder {
    color: gray;
}

/* Botão Cancelar */

button {
    height: 40px;
    border: 1px solid darkgray;
    background-color: white;
    font-weight: bold;
    margin: 0 2px;
    padding: 10px;
    float: right;
}

button:hover {
    cursor: pointer;
    background-color: #eeeeee;
}

/* Botão Salvar */

input[type=submit] {
    color: white;
    background-color: dodgerblue;
    border: 0;
    font-weight: bold;
    margin-left: 2px;
    margin-right: 3px;
    padding: 10px;
    float: right;
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: #1c85ee;
}
