* {
	box-sizing: border-box;
	font-family: fantasy;
}

body {
	overflow-y: scroll;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	background-color: white;
	margin-top: 10%;
	box-shadow: 0.1rem 0.1rem 0.6rem 0.2rem #777;
	border-radius: 1rem;
	text-align: center;
	width: 16rem;
	height: 28rem;
}

.top {
	margin: 1rem auto;
	background-color: black;
	border-radius: 1rem;
	width: 3rem;
	height: 0.5rem;
}

#logo,
#company,
#picture,
#name,
#function {
	cursor: pointer;
	user-select: none;
}

.middle {
	height: 18.3rem;
}

.logoArea,
.companyArea {
	padding: 0.9rem 1rem;
}

.logoArea {
	padding-top: 1rem;
	padding-bottom: 0.2rem;
	font-weight: bold;
}

.companyArea,
.functionArea {
	line-height: 1.3rem;
}

.pictureArea {
	margin-top: 5.3rem;
	position: relative;
}

#picture {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-height: 9rem;
	max-width: 9rem;
}

#file {
	display: none;
}

.botton {
	background-color: #27292b;
	border-bottom-right-radius: 1rem;
	border-bottom-left-radius: 1rem;
	color: white;
	height: 7.2rem;
}

.nameArea {
	font-size: 1.3rem;
	border-top: 0.4rem solid #b1b5ba;
	padding: 1rem;
	padding-bottom: 0;
}

.functionArea {
	padding: 1rem;
	font-size: 0.8rem;
}

[id$="Input"][type="text"] {
	border: none;
	border-bottom: 1px solid #b1b5ba;
	width: 11rem;
	height: 1rem;
}

.botton [id$="Input"][type="text"] {
	color: white;
	background-color: #27292b;
}

i {
	color: #b1b5ba;
	padding: 0.1em;
	cursor: pointer;
}

i {
	font-size: 1rem;
}
.companyArea i:hover {
	color: black;
}

.nameArea i:hover,
.functionArea i:hover {
	color: white;
}
